<div class="title">
  <h1>About Us</h1>
</div>
<p class="about-desc">The Hockey Shop strives to bring our customers from around the world the best gear.
We take pride is selling the highest quality products at the best low prices.</p>