.main-search-layout{
  position: relative;
  float: right;
}

.page-layout {
  position: relative;
    text-align: center;
    top: 101px;
    font-size: 31px;
    width: 50%;
    left: 27%
}

.title-pages {
  position: relative;
  text-align: center;
  font-size: 67px !important;
}

.page-buttons {
  position: relative;
    top: 40px;
    float: right;
    right: 21%;
}

.button.is-light {
  position: relative;
    left: 86%;
    bottom: 32px;
}