<h3 class="title">All Products</h3>

<% @categories.each do |cat| %>
  <div class="button is-dark">
    <%= link_to cat.name, cat %>
  </div>
<% end %>
<br>
<div class="button is-light">
  <%= paginate @products %>
</div>
<div class="columns is-multiline">
  <%= render partial: 'products/product',
             collection: @products,
             locals: { name_is_link: true} %>
</div>

